<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696736038970-a9f5iou77c31lnisphaaodals3op665t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696736038970-a9f5iou77c31lnisphaaodals3op665t</string>
	<key>API_KEY</key>
	<string>AIzaSyDfO0BuTAVsfQhhVlhr6Jj4JIRYkcWbPLI</string>
	<key>GCM_SENDER_ID</key>
	<string>696736038970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poduck.moonduck</string>
	<key>PROJECT_ID</key>
	<string>moonduck-83dfd</string>
	<key>STORAGE_BUCKET</key>
	<string>moonduck-83dfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696736038970:ios:351b58f44f345a10e3f503</string>
</dict>
</plist>