<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>$(BASE_URL)</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>앱 사용 패턴을 분석하여 많이 사용하는 기능 및 문화생활 관련 검색어를 확인하고 이를 기반으로 기능을 개선하고 업데이트하기 위해 사용자의 앱 사용 데이터를 수집합니다. (예: 자주 사용하는 기능을 파악하여 기능 업데이트)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>KaKaoSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_APP_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.$(GOOGLE_CLIENT_ID)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>MoonDuck</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moonduck</string>
			</array>
		</dict>
	</array>
	<key>KakaoAppKey</key>
	<string>$(KAKAO_APP_KEY)</string>
    <key>GoogleClientId</key>
    <string>$(GOOGLE_CLIENT_ID)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaolink</string>
		<string>kakaokompassauth</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SearchBookApiId</key>
	<string>$(SEARCH_BOOK_API_ID)</string>
	<key>SearchBookApiKey</key>
	<string>$(SEARCH_BOOK_API_KEY)</string>
	<key>TeamId</key>
	<string>$(TEAM_ID)</string>
	<key>SignInAppleKeyId</key>
	<string>$(SIGN_IN_APPLE_KEY_ID)</string>
	<key>SearchConcertApiKey</key>
	<string>$(SEARCH_CONCERT_API_KEY)</string>
	<key>SearchDramaApiKey</key>
	<string>$(SEARCH_DRAMA_API_KEY)</string>
	<key>SearchMovieApiKey</key>
	<string>$(SEARCH_MOVIE_API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansCJKkr-Black.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
